@page
@model RazorProject.Pages.UserDataModel
@{
    var result = "";
    if(Request.HasFormContentType && Request.Form != null && Request.Form.Count() > 0)
    {
        var firstName = Request.Form["FirstName"];
        var lastName = Request.Form["LastName"];
        var email = Request.Form["Email"];

        var userData = firstName + "," + lastName +
        "," + email + Environment.NewLine;

        var path = "./App_Data/data.txt";
        System.IO.File.WriteAllText(path, userData);
        result = "Information saved!";
    }
}

<form id="form1" method="post">
    <div>
        <table>
            <tr>
                <td>First Name:</td>
                <td><input id="FirstName" name="FirstName" type="text" /></td>

            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input id="LastName" name="LastName" type="text" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input id="Email" name="Email" type="text" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </div>
    <div>
        @if (result != "")
        {
            <p>Result: @result</p>
        }
    </div>
</form>
